{% extends 'base.html' %}
{% block title %}Bienvenidos{% endblock %}

{% block content %}
<h1 class="centrado"|>Página de Inicio</h1>
<p class="centrado">Bienvenido a mi proyecto.</p>
<br>
<p class="centrado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate similique nihil delectus, reiciendis distinctio! Beatae numquam, minima hic sed, officiis ipsa quibusdam tempore, iusto fuga odit iste id quidem?
Ut iusto error cumque necessitatibus sunt, dolor, nam repellat aliquam enim suscipit distinctio reprehenderit quod, corrupti delectus aperiam eligendi pariatur mollitia tempore incidunt temporibus voluptas esse recusandae exercitationem! Quibusdam, sequi!
</p>
{% endblock %}