body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #225560;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #F1ECEC;
}

.centrado{
    text-align: center;
    color: #F1ECEC;
}
